<p style="color: green"><%= notice %></p>

<%= render @post %>


<%= render partial: 'likes/button', locals: { likeable: @post }%>

<p>
  <strong>Comments</strong>
  <%= render @post.comments.order(id: :desc) %>
  <%= render partial: 'comments/form', locals: { post: @post } %>
</p>

<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
